div.page_container
{
    background-color: transparent;
    width: 100%;
    min-width: 1280px;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}
div.page_container
    div.page_wrapper
{
    background-color: #ffffff;
    width: 1280px;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 0;

    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    border: 4px solid #474747;
}
div.page_container
    div.page_wrapper
    ul.main_menu
{
    display: inline-block;
    background-color: transparent;
    width: auto;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
    text-align: left;
}
div.page_container
    div.page_wrapper
    ul.main_menu > li
{
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;

    vertical-align: top;
    margin-left: 10px;
}
div.page_container
    div.page_wrapper
    ul.main_menu > li:first-child
{
    margin-left: 0;
}
div.page_container
    div.page_wrapper
    ul.main_menu > li:last-child
{
    margin-left: 400px;
}
div.page_container
    div.page_wrapper
    ul.main_menu > li a
{
    display: block;
    background-color: #ddd;
    width: auto;
    height: auto;
    position: relative;
    margin: 0;
    padding: 10px;

    color: #000000;
    font-size: 16px;

    text-decoration: none;
    text-transform: uppercase;
}
div.page_container
    div.page_wrapper
    ul.main_menu > li a:hover,
div.page_container
    div.page_wrapper
    ul.main_menu > li a.active
{
    background-color: #aaaaaa;
    cursor: pointer;
}

div.page_container
div.page_wrapper
table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
div.page_container
div.page_wrapper
table td
{
    border: 1px solid #474747;
}


div.add_form
{
    position: relative;
    margin: 0;
    margin-top: 20px;

    box-sizing: border-box;
    padding: 10px;

    border: 1px solid #474747;
}